AddDefaultCharset UTF-8

RewriteEngine on
	RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png)$ [NC]
	
	RewriteRule ^([^/\.]+)/([^/\.]+)?$ index.php?route=$2&lang=$1 [L,QSA]
	RewriteRule ^([^/\.]+)?$ index.php?route=$1 [L,QSA]






