@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,500,700&subset=latin,cyrillic-ext);

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-family: 'Noto Sans', sans-serif;
}

.container{
	max-width: 1100px;
	display: block;
	margin: 0 auto;
	position: relative;
}



/*** media q ***/

@media screen and (min-width: 1710px) {
	#hero .back{
		right: 0px;
		background-position: right center
	}
}

@media screen and (max-width: 1140px) {
	#hero h1,#hero p,#hero span{
		padding-left: 20px;
	}

	#hero a.btn{
		margin-left: 20px;
	}
}

@media screen and (max-width: 1130px) {
 	nav div#logo{
 		margin-left: 15px;
 	}
}

@media screen and (max-width: 1070px) {
	#hero .back{
		width: 50%;
		left: 50%;
		min-height: 700px;
		position: absolute;
	}

	#hero h1,#hero p{
		width: 50%;
	} 

	#invision .four-box{
		width: 300px;
		float: none;
		display: table;
		margin: 0 auto;
	}

	#invision  h2,#invision p{
		padding-left: 10px;
		padding-right: 10px;
	}

	#invision .four-box button {
		width: 98%;
		margin-left: 2px;
	}
}

@media screen and (max-width: 1000px) {
	#hero h1{
		font-size: 30px;
		line-height: 1.2;
	}
}

@media screen and (max-width: 900px) {
    nav .search input{
        display: none;
    }

    nav .search i{
    	display: none;
    }

    #hero a.btn{
		font-size: 16px;
		margin-right: 20px;
		text-align: center;
	}

	.mobile-btn{
		display: block;
	}

    nav ul.left-btns{
    	position: absolute;
    	z-index: 2;
    	top: 47px;
    	right: 0;
    	width: 250px;
    	margin-left: 0;
    	border-top: 1px solid #DFDFDF;
    	background: #fff;
    	overflow-x: hidden;
    	overflow-y: auto;
    	display: none;
    }

    nav ul.left-btns li{
    	float: none;
    	position: relative;
    }

    nav ul.left-btns li a{
    	display: block;
    }

   nav ul.left-btns > li.dropdown > ul{
    	position: relative;
    	top: 0px;
    	width: 100%;
    	border: 0;
    }

     nav ul.left-btns > li.dropdown{
     	width: 100%;
     }

    nav ul.left-btns > li.dropdown > ul > li.dropright > ul{
		list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
		top: 0px;
		font-size: 15px;
		left: 0px;
		background: #E5E5E5;
		display: none;
		width: 100%;
		min-height: 100%;
		border-bottom: none;
	}

	nav ul.left-btns > li.dropdown > ul > li.dropright > a:after{
		transform: rotate(90deg);
	}

	nav ul.left-btns > li.dropdown > ul > li.dropright:hover > ul{
		display: none;
	}

	nav ul.left-btns > li.dropdown > a:after{
		right: 10px;
	}

	.user-card{
		display: block;
		position: absolute;
		z-index: 2;
		right: 0;
		width: 300px;
		top: 47px;
		background: #fff;
		display: none;
	}
}

@media screen and (max-width: 828px) {
	#apple ul.terms{
		margin-left: 0px;
	}
}

@media screen and (max-width: 720px) {
	#oculus div.third{
		width: 100%;
		float: none;
	}

	#apple .language{
		float: none;
		margin-left: 10px;
	}

	#apple .fives{
		width: 96%;
		padding: 0 2%;
	}

	#apple .fives h5{
		border-bottom: 1px solid #E3E3E3;
		padding: 10px 0;
		margin-top: 0;
		cursor: pointer;
		position: relative;
	}

	#apple .fives h5:after{
		content: "+";
		display: block;
		position: absolute;
		color: #000;
		right: 10px;
		top: 8px;
		transition: 0.2s;
	}

	#apple .fives h5.active:after{
		transform: rotate(45deg);
		transition: 0.2s;
	}

	#apple .fives h5:hover{
		color: #000;
	}

	#apple .fives ul{
		display: none;
	}

	#apple .fives ul li{
		padding: 10px;
	}
}

@media screen and (max-width: 680px) {

	#hero h1{
		margin-top: 40px;
		font-size: 25px;
		font-weight: bold;
	}

	#hero h1,#hero p{
		width: 70%;
	}

	#hero .back{
		width: 30%;
		left: 70%;
		min-height: 700px;
		position: absolute;
	}

	#hero span{
		display: table;
		margin: 20px auto;
	}

	#hero, #hero .back{
		min-height: 500px;
	}

	.mobile-btn{
		display: block;
	}

    nav ul.left-btns{
    	position: absolute;
    	z-index: 2;
    	top: 47px;
    	width: 100%;
    	margin-left: 0;
    	border-top: 1px solid #DFDFDF;
    	background: #fff;
    	overflow-x: hidden;
    	overflow-y: auto;
    	display: none;
    }

    nav ul.left-btns li{
    	float: none;
    	position: relative;
    }

    nav ul.left-btns li a{
    	display: block;
    }

   nav ul.left-btns > li.dropdown > ul{
    	position: relative;
    	top: 0px;
    	width: 100%;
    	border: 0;
    }

     nav ul.left-btns > li.dropdown{
     	width: 100%;
     }

    nav ul.left-btns > li.dropdown > ul > li.dropright > ul{
		list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
		top: 0px;
		font-size: 15px;
		left: 0px;
		background: #E5E5E5;
		display: none;
		width: 100%;
		min-height: 100%;
		border-bottom: none;
	}

	nav ul.left-btns > li.dropdown > ul > li.dropright > a:after{
		transform: rotate(90deg);
	}

	nav ul.left-btns > li.dropdown > ul > li.dropright:hover > ul{
		display: none;
	}

	nav ul.left-btns > li.dropdown > a:after{
		right: 10px;
	}

	.user-card{
		display: block;
		position: absolute;
		z-index: 2;
		right: 0px;
		left: 0px;
		width: 100%;
		top: 47px;
		background: #fff;
		display: none;
	}

	nav .search i{
		display: none;
	}

	.mobile-search{
		display: block;
	}
}

@media screen and (max-width: 450px) {
	.account-btn span{
		display: none;
	}

	#hero h1,#hero p{
		width: 90%;
		padding: 0 5%;
		text-align: center;
	}

	#hero,#hero .back{
		min-height: 550px;
	}

	#hero .back{
		display: none;
	}

	#invision .four-box span{
		left: 15px;
	}

}


@media screen and (max-width: 345px) {
	#hero h1{
		font-size: 22px;
	}
	#hero p{
		font-size: 19px;
	}

	#invision .four-box{
		width: 290px;
	}

	#invision .four-box button{
		width: 101.2%;
		margin-left: -2px;
	}
}