#invision{
	background: #323A45;
	display: block;
	width: 100%;
	padding: 110px 0 100px 0;
}

#invision h2{
	color: #fff;
	text-align: center;
	font-weight: 100;
}
#invision .four-box{
	width: 23%;
	margin: 15px 0;
	padding: 0 1%;
	display: block;
	float: left;
	position: relative;
}

#invision .four-box input{
	border: 2px solid #323A45;
	padding: 15px 10px 15px 40px;
	font-size: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	max-width: 85%;
	margin: 5px 0;
}

#invision .four-box input.invalid{
	border: 2px solid #FF3366;
}

#invision .four-box input.valid{
	border: 2px solid #323A45;
}

#invision .four-box input:focus{
	outline: none;
}

#invision .four-box input:after{
	content: "";
	background: url(./images/invasion.png);
	width: 24px;
	height: 24px;
	position: absolute;
	left: 5px;
	top: 15px;
}

#invision .four-box span{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 24px;
	height: 24px;
	background: url(./images/invasion.png);
	background-position: 0px 0px;
}

#invision .four-box button{
	background: #FF3366;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 17px 5px;
	text-transform: uppercase;
	font-size: 13px;
	border: 2px solid #FF3366;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	margin-top: 7px;
	cursor: pointer;
	transition: 0.3s;
}

#invision .four-box button:hover{
	background: #F42156;
	transition: 0.3s;
}

#invision p{
	color: #747C83;
	text-align: center;
	font-size: 13px;
}

#invision p a{
	color: #747C83;
}

@media screen and (max-width: 1070px) {
	#invision .four-box{
		width: 300px;
		float: none;
		display: table;
		margin: 0 auto;
	}

	#invision  h2,#invision p{
		padding-left: 10px;
		padding-right: 10px;
	}

	#invision .four-box button {
		width: 100%;
		margin-left: 0px;
	}
}

@media screen and (max-width: 450px) {
	#invision .four-box span{
		left: 15px;
	}
}


@media screen and (max-width: 345px) {
	#invision .four-box{
		width: 290px;
	}

	#invision .four-box button{
		width: 101.2%;
		margin-left: -2px;
	}
}