#apple{
	background: #F2F2F2;
}

#apple div.container{
	padding-top: 30px;
	padding-bottom: 20px;
}

#apple .fives{
	display: block;
	width: 18%;
	float: left;
	padding: 0 1%;
}


#apple .fives h5{
	margin: 0;
	margin-top: 15px;
	font-size: 13px;
	font-weight: normal;
	color: #000;
}

#apple .fives ul{
	list-style: none;
	padding:0;
	margin: 0;
}


#apple .fives ul li a{
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

#apple .fives ul li a:hover{
	text-decoration: underline;
}

#apple .moreways{
	font-size: 11px;
	color: #999999;
	display: block;
	padding: 20px 10px 0 10px;

}

#apple .moreways a{
	color: #0088CC;
	text-decoration: none;
}
#apple .moreways a:hover{
	text-decoration: underline;
	color: #333;
}

#apple .copyright{
	font-size: 11px;
	color: #999999;
	display: inline-block;
	margin-top: 10px;
	float: left;
	padding: 0 10px;
}

#apple ul.terms{
	list-style: none;
	padding: 0;
	margin: 5px 0;
	margin-left: 20px;
	display: inline-block;
	float: left;
}

#apple ul.terms li{
	float: left;
	padding: 0;
	margin: 0 10px;
	position: relative;
}

#apple ul.terms li:after{
	content: "|";
	display: block;
	position: absolute;
	right: -15px;
	top: 2px;
	color: #D6D6D6;
}

#apple ul.terms li:nth-last-child(1):after{
	display: none;
}

#apple ul.terms li a{
	color: #666666;
	font-size: 12px;
	text-decoration: none;
}

#apple ul.terms li a:hover{
	color: #333;
	text-decoration: underline;
}

#apple .language{
	color: #999;
	text-decoration: none;
	font-size: 12px;
	display: block;
	float: right;
	margin-top: 10px;
}

#apple .language img{
	margin-right: 5px;
}

@media screen and (max-width: 828px) {
	#apple ul.terms{
		margin-left: 0px;
	}
}

@media screen and (max-width: 720px) {
	#apple .language{
		float: none;
		margin-left: 10px;
	}

	#apple .fives{
		width: 96%;
		padding: 0 2%;
	}

	#apple .fives h5{
		border-bottom: 1px solid #E3E3E3;
		padding: 10px 0;
		margin-top: 0;
		cursor: pointer;
		position: relative;
	}

	#apple .fives h5:after{
		content: "+";
		display: block;
		position: absolute;
		color: #000;
		right: 10px;
		top: 8px;
		transition: 0.2s;
	}

	#apple .fives h5.active:after{
		transform: rotate(45deg);
		transition: 0.2s;
	}

	#apple .fives h5:hover{
		color: #000;
	}

	#apple .fives ul{
		display: none;
	}

	#apple .fives ul li{
		padding: 10px;
	}
}
