transform-scale(n)
	-moz-transform scale(n)
	-ms-transform scale(n)
	-webkit-transform scale(n)
	-o-transform scale(n)
	transform scale(n)

#oculus
	& div.third
		width 33.3333%
		height 300px
		display block
		float left
		position relative
		overflow hidden

		& div.bg
			position absolute
			top 0px
			bottom 0px
			left 0px
			right 0px
			display block
			background-position center center !important
			background-repeat no-repeat !important
			background-size cover !important
			transform-scale(1)
			transition 0.5s

		&:hover div.bg
			transform-scale(1.1)
			transition 0.3s

		& a
			position absolute
			top 0px
			bottom 0px
			left 0px
			right 0px
			z-index 2
			background rgba(0,0,0,0.5)
			color #fff
			text-align center
			text-decoration none
			transition 0.3s
			padding 40px 15px

			& h5
				color #A4A5A6
				margin-bottom 0
				text-transform uppercase
				padding-top 50px

			& h4
				margin-top 0
				font-size 22px

			&:hover
				background rgba(0,0,0,0)
				transition 0.3s

@media screen and (max-width 720px) 
	#oculus div.third
		width 100%
		float none
