clearListStyle()
	list-style none
	margin 0
	padding 0

nav
	background #fff
	border-bottom 1px solid #e6e6e6
	display block
	width 100%
	height 48px

	& div#logo
		float left

		& a
			margin-top 13px
			display inline-block

			& img
				height 23px
				width 100px

	& ul.left-btns
		clearListStyle()
		float left
		margin-left 18px
		position relative
		height 50px
		z-index 2

		& > li
			float left
			position relative

			& > a
				padding 14px 20px
				display inline-block
				text-decoration none
				color #2f2f2f
				font-size 15px
				background #fff
				position relative
				transition 1s

				&:hover,:focus
					background #f2f2f2
					transition 0.3s

		& > li.dropdown

			& > a
				&:after
					content "‹"
					display block
					position absolute
					top 18px
					right 10px
					font-size 13px
					font-weight 100
					transform rotate(-90deg)

			& > ul
				clearListStyle()
				position absolute
				top 48px
				left 0px
				background #f2f2f2
				width 250px
				border-right 1px solid #E6E6E6
				border-left 1px solid #E6E6E6
				border-bottom 1px solid #AAAAAA
				display none

				& > li
					& > a
						padding 15px 20px
						display block
						text-decoration none
						color #2f2f2f
						font-size 15x
						position relative
						transition 1s

						&:hover
							background #e5e5e5
							transition 0.2s

					&.dropright
						& > a
							&:after
								content "›"
								display block
								position absolute
								top 18px
								right 10px
								font-size 13px
								font-weight 100

						& > ul
							clearListStyle()
							position: absolute
							top 0px
							font-size 15px
							left 250px
							background #E5E5E5
							display none
							width 300px
							min-height 100%
							border-bottom 1px solid #AAAAAA

							& > li
								& > a
									padding 15px 20px
									display block
									color #333333
									text-decoration none
									transition 1s

									&:hover
										background #DBDBDB
										transition 0.2s


						&:hover
							background #e5e5e5

							& ul
								display block

	& .search
		float right
		display block
		position relative

		& input
			width 200px
			height 20xp
			padding 6px 30px 6px 10px
			font-size 17px
			margin-top 6px
			color #333

			&::-webkit-input-placeholder,::-moz-placeholder,:-moz-placeholder,:-ms-input-placeholder
				color #2f2f2f

			&:focus
				outline none

		& i
			position absolute
			top 14px
			right 10px
			color #ababb3

	& .cart-btn
		padding 14px 10px
		display inline-block
		text-decoration none
		color #666
		font-size 15px
		background #fff
		position relative
		float right
		margin 0 0 0 10px
		transition 1s

		&:hover,:focus
			background #f2f2f2
			transition 0.2s

		& span 
			font-size 13px

	& .account-btn
		padding 5px 10px
		display inline-block
		text-decoration none
		color #2f2f2f
		font-size 14px
		background #fff
		position relative
		float right
		border-left 1px solid #fff
		border-right 1px solid #fff
		transition 1s

		&:hover,:focus
			background #f2f2f2
			transition 0.3s

		&.active
			background #fff
			z-index 4
			border-right 1px solid #dfdfdf
			border-left 1px solid #dfdfdf

		& img
			-webkit-border-radius 90px
			-moz-border-radius 90px
			border-radius 90px
			height 38px

		& span
			padding-top 10px
			padding-right 5px
			color #666
			display inline-block
			font-size 14px

		& > div
			& > span
				display block
				font-size 18px
				color #333
				font-weight normal
				margin 0 0 0 80px

				&:nth-child(3)
					font-size 15px
					color #666

	& .mobile-btn
		padding 14px 10px
		display inline-block
		text-decoration none
		color #666
		font-size 15px 
		background #fff
		position relative
		float right
		display none
		transition 1s

		&:hover,:focus
			background #f2f2f2
			transition 0.3s

		&.active
			background #fff
			border-left 1px solid #DFDFDF
			border-right 1px solid #DFDFDF
			z-index 4

	& .mobile-search
		display none
		padding 15px 20px
		
		& input
			padding 5px 4%
			width 72%
			margin 0

		& button
			margin 0
			width 16%
			padding 5px 2%
			background transparent
			border none

.user-card
	display block
	position absolute
	z-index 2
	right 0
	top 47px
	padding 10px
	background #fff
	border 1px solid #e6e6e6
	display none

	& img
		width 64px
		height 64px
		-webkit-border-radius 90px
		-moz-border-radius 90px
		border-radius 90px

	& .user-menu
		clearListStyle()
		margin 10px -10px -10px -10px

		& li
			& a
				padding 10px
				color #333
				text-decoration none
				font-size 15px
				display block
				transition 1s

				&:hover
					background #dfdfdf
					transition 1s


@media screen and (max-width 1130px)
	nav div#logo
		margin-left 15px

@media screen and (max-width 900px)
	nav
		& .search
			& input
				display none

			& i
				display none

		& .mobile-btn
			display block

		& ul.left-btns
			position absolute
			z-index 2
			top 47px
			right 0
			width 250px
			margin-left 0
			border-top 1px solid #DFDFDF
			background #fff
			overflow-x hidden
			overflow-y auto
			display none

			& li 
				float none
				position relative

				& a
					display block

			& > li.dropdown
				width 100%

				& > ul
					position relative
					top 0px
					width 100%
					border 0

					& > li.dropright
						& > ul
							clearListStyle()
							position relative
							top 0px
							font-size 15px
							left 0px
							background #E5E5E5
							display none
							width 100%
							min-height 100%
							border-bottom none

						& > a:after
							transform: rotate(90deg)

						&:hover > ul
							display none

				& > a
					&:after
						right 10px

		& .user-card
			display block
			position absolute
			z-index 2
			right 0
			width 300px
			top 47px
			background #fff
			display none

@media screen and (max-width 680px)
	nav 
		& ul.left-btns
			position absolute
			z-index 2
			top 47px
			width 100%
			margin-left 0
			border-top 1px solid #DFDFDF
			background #fff
			overflow-x hidden
			overflow-y auto
			display none

			& li
				float none
				position relative

				& a
					display block

			& li.dropdown
				width 100%

				& ul
					position relative
					top 0px
					width 100%
					border 0

					& > li.dropright
						& > ul
							clearListStyle()
							position relative;
							top 0px
							font-size 15px
							left 0px
							background #E5E5E5
							display none
							width 100%
							min-height 100%
							border-bottom none

						& a:after
							transform rotate(90deg)

						&:hover
							& > ul
								display none

				& a:after
					right 10px

		& .user-card
			display block
			position absolute
			z-index 2
			right 0px
			left 0px
			width 100%
			top 47px
			background #fff
			display none

		& .search i
			display none

		& .mobile-search
			display block

		& .mobile-btn
			display block

@media screen and (max-width 450px)
	.account-btn span
		display: none;
	













